*{
  margin: 0;
  padding: 0;
}
.parent{
  width: 100vw;
  height: 100vh;
}
h2{
  display: flex;
  justify-content: center;
  color: blue;
  padding: 10px;
}
#child{
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 51.36px);
}